* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.page-title {
    margin-bottom: 12px;
}
.page-title a {
    font-size: 2.8rem;
    color: #212529;
    text-align: left;
}

.page-title a:hover {
    color: var(--maincolor)
}
.page-content {
    font-size: 1.4rem;
    min-height: 400px;
    text-align: left;
    color: #212529;
    line-height: 1.5;
}